<div class="container">
<h1>Tutorials</h1>

<center>

 <div>
  <%= video_tag("/assets/demo.mp4", :size => "540x390", :controls => true) %>
</div>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
</center>
</div>
