    <div class="banner">
    <div id="slides">
      
      <div id="myCarousel" class="carousel slideslide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= image_tag("HD-Wallpapers3.jpg")%></div>
          <div class="item"><%= image_tag("HD-Wallpapers4.jpg")%></div>
          <div class="item"><%= image_tag("HD-Wallpapers5.jpg")%></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
      

    </div> <!-- /container -->